@charset "UTF-8";

@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
body{
    background-color: rgb(144, 238, 191);
    font-family: 'android';
}

header{
background-image: 
linear-gradient(to bottom, rgb(58, 255, 147),rgb(64, 182, 109), rgb(3, 99, 32));
color: white;
text-align: center;
margin: -21px -10px 0px -10px
}
header > h1{
    font-size: 24px;
}
header > p{
    font-size: 14px;
}
header > nav{
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
}
header > nav > a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
iframe{
    width: 100%;
}
main{
    background-color: white;
    margin: 0px 300px 0px 350px;
    padding: 20px;
    min-width: 280px;
    max-width: 600px;
   
}
main>p{
    text-indent: 20px;
}
main > h1{
    color: rgb(3, 99, 32);
}
main>h2{
   background-image: linear-gradient(to right, rgb(161, 233, 161), rgb(207, 235, 207), rgb(255, 255, 255));
    color: rgb(3, 99, 32);
}
main>div#vid{
   background-color: green;
}


main>div#inf{
    background-color: rgb(140, 255, 217);
    padding: 5px;
    border-radius: 10px;
    text-indent: 20px;
}
main>div>p#p1{
    background-color: rgb(28, 182, 92);
    padding: 10px;
    color: white;
}
footer{
    background-color: rgb(9, 87, 9);
    margin: 0px -10px -21px -10px;
    padding: 1px;
    text-align: center;
    color: white;
}
figcaption{
    text-indent: 20px;
}